@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
--BACK-COLOR: #000000;
--RED-COLOR: #fa7407;
--BOX-SHADOW: 0 .5rem 1.5rem rgba(0,0,0,.1);
--OUTLINE:.1rem solid rgba(0,0,0,.1);
--OUTLINE-HOVER:.2rem solid var(--BACK-COLOR);
--LIGHT-COLOR: #666;
--BORDER: .2rem solid var(var(--BACK-COLOR));
} 

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background:  rgb(148, 67, 6);
    height: fit-content;
    width: fit-content;
}

section {
    padding: 3rem;
}

.heading{
    text-align: center;
    padding:  0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--BACK-COLOR);
}

.heading span{
    background: var(--RED-COLOR);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--BOX-SHADOW);
    width: 100%;
}

.header .logo {
    font-family: "Dancing Script";
    font-size: 3rem;
    font-weight: bolder;
    color: var(--BACK-COLOR);
}

.header .logo i {
    color: var(--RED-COLOR);
}

.navbar a {
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--RED-COLOR);
}

.navbar a:hover {
    color: white;
    background: var(--RED-COLOR);
    border-radius: 1rem;
    padding: 1rem;
}

.icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #eee;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.icons div:hover {
    background: var(--RED-COLOR);
    color: white;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: 2.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--BOX-SHADOW);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--BACK-COLOR);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--BACK-COLOR);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--RED-COLOR);
}

.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--BOX-SHADOW);
    width: 45rem;
    background: #fff;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart h2 {
    color: var(--BLACK-COLOR);
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--BACK-COLOR);
    padding-bottom: 1rem;
}

.header .shopping-cart .box{
    display: flex;
    padding-top: 1rem;
    border-bottom: 1px solid var(--BACK-COLOR);
}

.header .shopping-cart .box span{
    font-size: 1.9rem;
    padding-bottom: 1rem;
    text-align: center;
    color: var(--RED-COLOR);
}

.header .shopping-cart .box .item {
    padding-right: 12rem;
}

.header .shopping-cart .box .price {
    padding-right: 5rem;
}

.header .shopping-cart .box .quantity {
    padding-right: 3rem;
}

.header .shopping-cart .items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--BACK-COLOR);
    margin-right: 1.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.header .shopping-cart .items .item-image {
    width: 75px;
    border-radius: .5rem;
    height: auto;
}

.header .shopping-cart .items .item-title {
    margin-left: 1rem;
    font-size: 1.5rem; 
    color: var(--BACK-COLOR);
    font-weight: bolder;
}

.header .shopping-cart .items .item-price {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.header .shopping-cart .items .item-quantity { 
    width: 35%;
    margin-left: 3rem;
}

.header .shopping-cart .item-quantity .quantity-input {
    height: 34px;
    width: 50px;
    border-radius: .5rem;
    border: 1px solid var(--LIGHT-COLOR);
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
}

.header .shopping-cart .items .btn-remove {
    padding: 1rem;
    background: var(--RED-COLOR);
    color: white;
    border-radius: .5rem;
    width: 50px;
    margin-left: -6rem
}

.header .shopping-cart .items .btn-remove:hover {
    color: var(--BACK-COLOR);
    cursor: pointer;
}

.header .shopping-cart .total{
    font-size: 2rem;
    color:var(--BACK-COLOR);
    text-align: center;
    padding-top: 2rem;
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 2rem;
}

.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--BOX-SHADOW);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--BACK-COLOR);
    text-align: center;
    margin-bottom: 1rem;
}

.header .login-form .box{
    width: 100%;
    margin: 0.7rem 0;
    background:#eee;
    border-radius: 2rem;
    padding:1rem;
    font-size: 1.2rem;
    color:var(--BACK-COLOR);
    text-transform: none;
    text-align: left;
}

.header .login-form .box:hover {
    border: 1px solid var(--BACK-COLOR);
}

.header .login-form label {
    font-size: 1.5rem;
    color: var(--RED-COLOR);
}

.header .login-form p{
    text-align: center;
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--LIGHT-COLOR);
}

.header .login-form p a{
    color:var(--RED-COLOR);
    text-decoration: underline;
}

.header .login-form p a:hover {
    color: var(--BACK-COLOR);
}

.header .login-form .btn {
    margin: 1rem 12rem;
}

 .home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assests/babikriuk.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8.5rem;
    padding: 12rem 0rem;
}

.home .content {
    width: 50%;
    margin-right: 35rem;
}

.home .content h1 {
    color: var(--RED-COLOR);
    font-size: 4rem;
    line-height: 1.5;
}

.home .content p {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
} 

.btn {
    background: var(--RED-COLOR);
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    width: 9rem;
    cursor: pointer;
    margin-left: 21rem;
}

.btn:hover {
    color: var(--BACK-COLOR);
    font-weight: bolder;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.features .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--OUTLINE);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--BOX-SHADOW);
}

.features .box-container .box:hover{
    outline: var(--OUTLINE-HOVER);
    outline-offset: 0rem;
}

.features .box-container .box img{
    margin:1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1;
    color:var(--BACK-COLOR);
}

.features .box-container .box p{
    font-size: 1.5rem;
    color:var(--LIGHT-COLOR);
    padding: 1rem 0;
}

.features .box-container .box .btn {
    margin: 2rem;
    line-height: 3;
}

.fooditems .product{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.fooditems .product .box{
    flex: 1 1 25rem;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--OUTLINE);
    box-shadow: var(--BOX-SHADOW);
    transition: .2s linear;
}

.fooditems .product .box:hover{
    outline-offset: 0rem;
    outline: var(--OUTLINE-HOVER);
}

.fooditems .product .box img{
    height: 15rem;
    width: 20rem;
}

.fooditems .product .box h3{
    font-size: 2.5rem;
    color:var(--BACK-COLOR);
}

.fooditems .product .box .special-price {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--RED-COLOR);
}

.fooditems .product .box .price{
    font-size: 2rem;
    color: var(--LIGHT-COLOR);
    padding: .5rem 0;
    text-decoration: line-through;
}

.fooditems .product .box .discount {
    font-size: 1.2rem;
}

.fooditems .product .box .stars i{
    font-size: 1.7rem;
    color: var(--RED-COLOR);
    padding: .5rem 0;
}

.fooditems .product .box .btn {
    line-height: 5rem;
    margin-left: 1rem;
 }  

 .review {
    padding: 1rem;
    
}

.review .review-box {
    display: flex;
    gap: 2rem;
}

.review .review-box .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--OUTLINE);
    box-shadow: var(--BOX-SHADOW);
    transition: .2s linear;
}

.review .review-box .box:hover{
    outline:var(--OUTLINE-HOVER);
    outline-offset: 0rem;
}

.review .review-box .box img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
}

.review .review-box .box p{
    padding:1rem 0;
    line-height: 1.8;
    color:var(--LIGHT-COLOR);
    font-size: 1.5rem;
}

.review .review-box .box h3{
    padding-bottom: .5rem;
    color:var(--BACK-COLOR);
    font-size: 2.2rem;
}

.review .review-box .box .stars i{
    color:var(--RED-COLOR);
    font-size: 1.7rem;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--BOX-SHADOW);
    background:#fff;
}

.blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--BORDER);
}

.blogs .box-container .box .content .icons a{
    color: var(--LIGHT-COLOR);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color: var(--BACK-COLOR);
}

.blogs .box-container .box .content .icons a i{
    color: var(--RED-COLOR);
    padding-right: .5rem;
}

.blogs .box-container .box .content h3{
    color:var(--BACK-COLOR);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.2;
    color:var(--LIGHT-COLOR);
    font-size: 1.5rem;
    padding:.5rem 0;
}

.blogs .box-container .box .content .btn {
    line-height: 2;
    margin: 8rem;
}

.footer{
    background: #fff;
    margin: 0 2rem 3rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    font-family: 'Dancing Script';
    color: var(--BACK-COLOR);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--RED-COLOR);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--LIGHT-COLOR);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color: var(--RED-COLOR);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--LIGHT-COLOR);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--BACK-COLOR);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--RED-COLOR);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--BACK-COLOR);
    text-transform: none;
}

.footer .box-container .box .btn {
    margin: 1rem 8rem;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--BACK-COLOR);
    border-top: var(--BORDER);
}

.footer .credit span{
    color:var(--RED-COLOR);
}

.top-link {
    font-size: 2rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--RED-COLOR);
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /*MEDIA QUERIES */
  
@media (max-width: 900px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .features .box-container{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .blogs .box-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .blogs .box-container .box .content .btn {
        margin-left: 5rem;
        line-height: 3;
    }
}

@media (max-width: 875px) {
    
    .home .content h1 {
         font-size: 3rem;
        padding-left: 5rem;
    }

    .blogs .box-container .box .content .btn {
        margin-left: 4rem;
    }
} 

@media (max-width: 768px) {

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 70%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        box-shadow: var(--BOX-SHADOW);
        width: 30rem;
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

    .header .navbar a.active {
        background: var(--RED-COLOR);
        color: white;
    }

    .home .content p {
        padding-left: 5rem;
    }

    .home .content .btn {
        margin-left: 18rem;
    }

    .blogs .box-container .box .content .btn {
        margin: 2rem;
    }

    .footer .box-container .box .payment-img {
        width: 100%;
    }
} 

@media (max-width: 540px) {

    .home {
        background-size: cover;
        width: 150%;
    }

    .home .content h1 {
        font-size: 2.5rem;
        margin-left: 2rem;
    }

    .home .content p {
        font-size: 2rem;
    }
    
    .btn {
        font-size: 1.8rem;
    }

    .features {
        margin-left: 2rem;
    }

    .fooditems .product{
        display: flex;
        gap: 3rem;
        margin-left: 15rem;
    }

    .review {
        margin-left: 5rem;
    }

    .blogs .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        margin-left: 5rem;
    }
    
    .footer {
        margin-left: 8rem;
    }
} 





