

h1, h2 {
    font-family: 'Rubik', sans-serif;
    color: #f77801;
}

h2 {
    font-size: 1.25em;
}

p, .table {
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background-color: #854102;
}

.container {
    max-width: 379px;
    min-width: 305px;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    text-align: center;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
}

.table, .available {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 230, 129);
    color: #000000;
    cursor: pointer;
    position: relative;
}

.reserved {
    color: rgb(255, 255, 255);
    background-color: #b63030;
    cursor: not-allowed;
}

/* form styling */

#form-container {
    padding: 20px 50px;
    background-color: rgb(255, 193, 136);
    border-radius: 5px;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 20px;
    margin: 10px;
    width: 150px;
    border: none;
    border-bottom: 1px solid #CCC;
}

button {
    padding: 15px;
    border: none;
    background-color: #008000;
    width: 95%;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    color: white;
    text-transform: uppercase;
}

.center-btn {
    margin-top: 20px;
    text-align: center;
}

.clear {
    float: right;
}

.clear:hover {
    cursor: pointer;
}

.tooltip {
    background-color: rgb(252, 195, 121);
    border: 1px solid rgb(255, 10, 235);
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: -20px;
    z-index: 100;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 12px;
    min-width: 125px;
    text-align: left;
    display: flex;
    flex-direction: column;
    display: none;
}

.table-info {
    line-height: 6px;
}

/* slightly bigger on desktop */

@media only screen and (min-width: 519px) {
    .container {
        max-width: 500px;
        min-width: 425px;
        }

    .table {
        width: 100px;
        height: 100px;
        margin: 5px;
    }

    input {
        padding: 10px 40px;
        width: 300px;
    }

    button {
        padding: 10px;
    }

}